<title> home </title>

<div>
    <h3> Result of the query </h3>
    {% if info_bool %}
        <p> {{ info }} </p>
    {% endif %}
    {% if data_bool %}
        <table>
            <tr>
                {% for header in headers %}
                    <td> {{ header }} </td>
                {% endfor %}
            </tr>
            {% for row in table %}
                <tr>
                    {% for entry in row %}
                        <td> {{ entry }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>


<div>
    <h3> Get All </h3>
    <form action="/get_all" method="post">
        {% for clas in classes %}
            <p><input type="radio" name="class" value="{{ clas }}"> {{ clas }}</p>
        {% endfor %}
        <p><input type="submit" value="submit"></p>
    </form>
</div>


<div>
    <h3> Query 1</h3>
    <h5> Find all courses that the professor is lecturing for the students in given grade</h1>
    <form action="/query1" method="post"> 
        <p> Professor: <input type="text" name="professor"></p>
        <p> Grade: <input type="text" name="course_grade"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>


<div>
    <h3> Query 2</h3>
    <h5> Find all students that have lectures that given professor gives </h1>
    <form action="/query2" method="post"> 
        <p> Professor: <input type="text" name="professor"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>


<div>
    <h3> Query 3</h3>
    <h5> Find all professors that wokr on given day on given faculty</h1>
    <form action="/query3" method="post"> 
        <p> Faculty: <input type="text" name="faculty"></p>
        <p> Day: <input type="text" name="day"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>


<div>
    <h3> Query 4</h3>
    <h5> Find all course names where student and professor can meet</h1>
    <form action="/query4" method="post"> 
        <p> Student surname: <input type="text" name="student"></p>
        <p> Professor surname: <input type="text" name="professor"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>


<div>
    <h3> Query 5</h3>
    <h5> Find group with maximum number of students</h1>
    <form action="/query5" method="post"> 
        <p><input type="submit" value="submit"></p>
    </form>
</div>

<div>
    <h3> Query 6</h3>
    <h5> Find pairs of professors that give lectures on the same set of days</h1>
    <form action="/query6" method="post"> 
        <p><input type="submit" value="submit"></p>
    </form>
</div>

<div>
    <h3> Query 7</h3>
    <h5> Find groups that have the same set of courses</h1>
    <form action="/query7" method="post"> 
        <p><input type="submit" value="submit"></p>
    </form>
</div>

<div>
    <h3> Query 8</h3>
    <h5> Find professors that give lectures to the same set of groups</h1>
    <form action="/query8" method="post"> 
        <p><input type="submit" value="submit"></p>
    </form>
</div>